#root {
  max-width: 3000px;
  margin: 0 auto;
  text-align: center;
}

.listbox {
  float: left;
  padding-inline: 20px;
  margin-top: 20pt;
  color:rgb(255, 255, 255);
}

li {
  color: black;
}

.currentTasks {
  background: rgba(253, 255, 255, 0.6);
  padding-inline: 150px;
  height: 900px;
}

.newTask {
  background: rgba(253, 255, 255, 0.6);
  
  padding-inline: 100px;
  height: 100px;
}




