#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.listbox {
  float: left;
  padding-inline: 50px;
  margin-top: 20pt;
  color:rgb(255, 255, 255);
}

.currentTask {
  background-color: #888;
  padding-inline: 150px;
  height: 500px;
}

.newTask {
  background-color: #888;
  padding-inline: 150px;
  height: 50px;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
