#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.listbox {
  float: left;
  padding: 10rem;
  margin-top: -100pt;
  color:rgb(255, 255, 255);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
